/* everything related to flex */
.d-flex { display: flex !important; }
.end-x { justify-content: end !important; }
.center-x { justify-content: center !important; }
.center-y { align-items: center !important; }
.center-xy {
  justify-content: center !important;
  align-items: center !important;
}
.gap-xs { gap: .5rem; }
.gap-md { gap: 1rem; }
.flex-1 { flex: 1 }
.flex-4 { flex: 4 }
.all-f1 > * { flex: 1 }
.flex-col { flex-direction: column; }
.self-center { justify-self: center }
.space-between { justify-content: space-between !important; }
.flex-wrap { flex-wrap: wrap; }

.no-interaction { pointer-events: none; }
.wh-75 { width: 75%; height: 75%; }
.flip-H { transform: scale(-1, 1) }
.mb-0 { margin-bottom: 0; }
.not-allowed { cursor: not-allowed; }
.hidden { display: none; }
.d-none { display: none !important; }
.h-vh { height: 100vh; }
.w-100 { width: 100%; }
.h-100 { height: 100%; }
.ul { list-style: none; padding-left: 0 }
.p-absolute { position: absolute; }
.p-relative { position: relative; }
.p-fixed { position: fixed; }
.bottom-0 { bottom: 0 }
.right-0 { right: 0 }
.opacity-0 { opacity: 0; }
.text-center { text-align: center; }
.opacity-0-instant { opacity: 0; transition: unset !important; }
.transition-100 { transition: all 100ms; }
.transition-200 { transition: all 200ms; }
.transition-500 { transition: all 500ms; }
.transition-1000 { transition: all 1000ms; }
.pre { white-space: pre-line; }
.x2 { font-size: 2rem; }
.x1_5 { font-size: 1.5rem; }
.x1_1 { font-size: 1.1rem; }
.x1_3 { font-size: 1.3rem; }
.x1 { font-size: 1rem; }
.u { text-decoration: underline; }
.open-left {
  left: 0;
  transform: translateX(-100%);
}
.open-right {
  right: 0;
  transform: translateX(100%);
}
.open-bottom {
  bottom: 0;
  transform: translateY(100%);
}
.top-0 { top: 0; }
.top--10rem { top: -10rem; }
.left-0 { left: 0; }
.padding-lr-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.padding-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-6-12 { padding: 6px 12px; }
.z-1 { z-index: 1; }
.inherit-bgColor { background-color: inherit; }
.inherit-padding { padding: inherit; }
.inherit-border { border: inherit; }
.inherit-width { width: inherit; }
.text-align-left { text-align: left; }
.bordered-list > * { border: 1px solid var(--c-dark); }
.bordered-list .list-label { color: var(--c-darker); }
