.theme-brown {
  --c-light: #5d3333;
  --c-dark-light: #4b3b3b;
  --c-dark: #2b1e1e;
  --c-darker: #311616;
  --c-text-on-dark--important: #bd0d0d;
  --c-text-on-dark: white;
  --c-tu-bar-label: rgb(0, 0, 0);
}
.theme-white {
  --c-light: white;
  --c-dark-light: white;
  --c-dark: white;
  --c-darker: white;
  --c-text-on-dark--important: #bd0d0d;
  --c-text-on-dark: black;
  --c-tu-bar-label: rgb(0, 0, 0);
}
.theme-r1 {
  --c-light: #831b1b;
  --c-dark-light: #611616;
  --c-dark: #5d0000;
  --c-darker: #490404;
  --c-text-on-dark--important: #bd0d0d;
  --c-text-on-dark: white;
  --c-tu-bar: red;
  --c-tu-bar-label: rgb(0, 0, 0);
}
.theme-r2 {
  --c-light: #1e4c7b;
  --c-dark-light: #005383;
  --c-dark: #082039;
  --c-darker: #041949;
  --c-text-on-dark--important: #bd0d0d;
  --c-text-on-dark: white;
  --c-tu-bar: blue;
  --c-tu-bar-label: rgb(0, 0, 0);
}
.theme-grey {
  --c-light: #4b4545;
  --c-darker: #231c1c;
  --c-text-on-dark: white;
  --c-dark: #000000;
}
.theme-energy {
  --c-light: #f9e86d;
  --c-dark-light: #815f00;
  --c-dark: #e3ce37;
  --c-darker: #b99a00;
  --c-text-on-dark--important: #bd0d0d;
  --c-text-on-dark: #833600;
  --c-tu-bar: blue;
  --c-tu-bar-label: rgb(0, 0, 0);
}
:root {
  --c-r1: #7b1111;
  --c-tu-bar: yellow;
  --c-tu-bar-label: rgb(0, 0, 0);
}
* { user-select: none; }
h1 {
  margin-block-start: 1.5rem;
  margin-block-end: 2.5rem;
}
h2,h3,h4,p {
  margin-block-start: 1.1rem;
  margin-block-end: 1rem;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
  font-family: Arial;
  font-size: 16px;
  line-height: 1;
  
  background: var(--c-dark);
  color: var(--c-text-on-dark);
}
button, .btn {
  background: var(--c-darker);
  color: var(--c-text-on-dark);

  font-size: 1.3rem;
  padding: .5rem 1rem;
  border-radius: 11px;
  border: 4px solid var(--c-light);
}
button:hover, .btn:hover {
  background: var(--c-light);
  border-color: var(--c-darker);
  cursor: pointer;
}
button.disabled:hover, .btn.disabled:hover {
  background: var(--c-dark);
  border-color: var(--c-darker);
}
button:active, .btn:active {
  background-color: var(--c-dark);
}
.progress-bar {
  position: relative;
  display: flex;
  background-color: white;
  overflow: hidden;
  height: 30px;
}
.progress-bar label { color: var(--c-tu-bar-label) }
.progress-bar > .bar {
  position: absolute;
  background-color: var(--c-tu-bar);
  height: inherit;
}
/*

  ---- left sidebar ----
*/
[data-left-sidebar="0"] #left_sidebar { display: none !important; }
#left_sidebar {
  border-right: 1px solid var(--c-light);
  z-index: 1;
}
#left_sidebar_bottom_actions { margin-top: auto; }
/*
  ------------------------------- 
*/

/*
  ---- CENTER ----
*/
#center_area_main { overflow: hidden; }
.city-parts > div { flex-basis: 50%; }
.box-guild .pin-container { bottom: 35%; left: 35%; }
.box-blacksmith .pin-container { bottom: 15%; left: 45%; }
.box-marketplace .pin-container { bottom: 15%; right: 15%; }
.pin { transform: rotate(15deg); }
.box-marketplace .pin {
  transform: rotate(41deg) scale(-1, 1);
  left: -30px;
  bottom: -30px;
}
.box-guild .pin {
  transform: rotate(356deg);
  left: -30px;
  bottom: -30px;
}
.box-blacksmith .pin {
  transform: rotate(145deg) scale(-1, -1);
  right: -30px;
  bottom: -30px;
}
.unlock-progress {
  display: flex;
  justify-content: center;
  gap:5px;
  font-size: 1.2rem;
  padding: 10px;
  align-items: center;
  padding: 5px 0;
  border-top: 1px solid var(--c-light);
  background-color: var(--c-dark-light);
}
.tu-invest-tr { padding: 6px 15px; }

/*
  ---- Alle Features ----
*/
[class*=show-on-layer-],
[class*=show-on-sub-layer-] { display: none; }
[data-show-layer="1"] .show-on-layer-1,
[data-show-layer="2"] .show-on-layer-2, 
[data-show-layer="3"] .show-on-layer-3,
[data-show-layer="Settings"] .show-on-layer-settings,
[data-show-layer="Stats"] .show-on-layer-stats,
[data-show-layer="1"][data-show-sub-layer="1"] .show-on-layer-1-1,
[data-show-layer="1"][data-show-sub-layer="2"] .show-on-layer-1-2,
[data-show-layer="2"][data-show-sub-layer="1"] .show-on-layer-2-1,
[data-show-layer="2"][data-show-sub-layer="2"] .show-on-layer-2-2 { display: block; }

[data-show-layer="1"][data-show-sub-layer="1"] .hide-on-layer-1-1,
[data-current-city-part="0"] .hide-on-city-0 { display: none; }

[data-unlocked-Adventure-Tab="0"] .unlocked-Adventure-Tab,
[data-unlocked-f2="0"] .unlocked-feature-2,
[data-unlocked-r11-milestones="0"] .unlocked-r11-milestones,
[data-unlocked-training-tab="0"] .unlocked-training-tab { display: none; }

[class*=show-on-city-part-] { display: none; }
[data-current-city-part="0"] .show-on-city-part-0,
[data-current-city-part="1"] .show-on-city-part-1,
[data-current-city-part="2"] .show-on-city-part-2,
[data-current-city-part="4"] .show-on-city-part-4,
[data-current-city-part="3"] .show-on-city-part-3 { display: block; }

/*
  ------------------------------- 
*/

/*
  ---- Feature 1 ----
*/
/*
  ------------------------------- 
*/


/*
  ---- Ressources / right sidebar ----
*/
#right_sidebar {
  flex-basis: 100px;
  border-left: 1px solid var(--c-light);
  z-index: 1;
}
[data-unlocked-r1="0"] .unlocked-r1,
[data-unlocked-r11="0"] .unlocked-r11,
[data-unlocked-r12="0"] .unlocked-r12,
[data-unlocked-r13="0"] .unlocked-r13,
[data-unlocked-r14="0"] .unlocked-r14,
[data-unlocked-r15="0"] .unlocked-r15,
[data-unlocked-r16="0"] .unlocked-r16,
[data-unlocked-r17="0"] .unlocked-r17,
[data-unlocked-r18="0"] .unlocked-r18,
[data-unlocked-r11="0"][data-unlocked-r12="0"][data-unlocked-r13="0"][data-unlocked-r14="0"][data-unlocked-r15="0"][data-unlocked-r16="0"][data-unlocked-r17="0"][data-unlocked-r18="0"] #ressource-1-sub-container,
[data-unlocked-r2="0"] .unlocked-r2
{ display: none !important; }
[data-unlocked-r11="1"] .locked-r11,
[data-unlocked-r12="1"] .locked-r12,
[data-unlocked-r13="1"] .locked-r13,
[data-unlocked-r14="1"] .locked-r14,
[data-unlocked-r15="1"] .locked-r15,
[data-unlocked-r16="1"] .locked-r16,
[data-unlocked-r17="1"] .locked-r17,
[data-unlocked-r18="1"] .locked-r18
{ display: none !important; }
[class^=locked-r] {
  background-color: grey;
}
#right_sidebar > div { position: relative; }
/* show sub-features of ressources on hover */

[class*=hover-anchor] {
  background-color: var(--c-darker);
  color: var(--c-text-on-dark);
  margin:0;
  position: relative;
}
[class*=hover-content] {
  background-color: var(--c-darker);
  color: var(--c-text-on-dark);
  margin:0;
  border: 1px solid var(--c-light);
  position: absolute;
}
#right_sidebar li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--c-light);
  padding: 2px 10px 2px 10px;
}
.hover-anchor-1:not(:hover) .hover-content-1,
.hover-anchor-2:not(:hover) .hover-content-2 { display: none; }
#right_sidebar button { font-size: 1rem; }
#ressource-1-sub-container { width: 250px }
#ressource-2-sub-container { width: 200px }
/*
  ------------------------------- 
*/


/*
  ---- Popup ----
*/
#popup {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--c-light);
}
#popup[data-state="0"],
#popup[data-state] > [data-state] { display: none }
#popup[data-state="1"] [data-state="1"],
#popup[data-state="2"] [data-state="2"] { display: block; }
#popup [data-continue-state] > [data-continue-state] { display: none }
#popup [data-continue-state="0"] > [data-continue-state="0"],
#popup [data-continue-state="1"] > [data-continue-state="1"],
#popup [data-continue-state="2"] > [data-continue-state="2"] { display: block }

#popup .story-border {
  padding: 15px;
  border: 5px solid var(--c-dark-light);
  background: var(--c-dark);
  color: var(--c-text-on-dark--important);
  margin: 2rem 0;
  text-align: center;
}
#popup .story-border h1 {
  margin-bottom: 1.4rem;
}
#popup #popup_paragraph { padding: 0 8%; }

/*
  ------------------------------- 
*/
[data-tutorial-step="0"] .hide-blacksmith,
[data-tutorial-step="0"] .hide-marketplace
{ display: none }

.map1-bg { background-image: url('../images/map1.jpg'); }
.city1-bg { background-image: url('../images/city1.jpg'); }
.bg-img {
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

div#continue {bottom: 100px;}

.mix-blend-color { mix-blend-mode: color; }
#training_grounds .mix-blend-color.strength { background: var(--c-r1); }
#city_121_guild .mix-blend-color { background: var(--c-dark-light); }
#training_grounds .action-layer {
  width: 95%;
  height: 90%;
  border: 5px solid var(--c-dark-light);
  background-color: var(--c-dark);
}
.training_ressource_menu {
  top: -32px;
  left: -5px;
  width: calc(100% + 10px); /* wegen 5px border des parent Elements */
}
.training_ressource_menu button {
  padding: .1rem 1rem;
  font-size: 1rem;
  border-radius: unset;
}
#static_info h1 { margin: 0; }
#static_info .info {
  padding: 5px 10px;
  border: 1px dotted;
  margin-bottom: 15px;
}
.training-grounds-top-part {
  border-bottom: inherit;
  padding: 0 8px;
}
.training-cols > div:first-child {
  border-right: 5px solid var(--c-dark-light);
}
.in-training {
  animation: infinite alternate ease-in-out 1s pulsateColorYellow;
}
.training-cols .title {
  justify-content: space-evenly;
  border-bottom: 5px solid var(--c-dark-light);
}
@keyframes pulsateColorYellow {
  from { background-color: #9b9b8a; }
  to { background-color: #252517; }
}
.milestone {
  background-color: var(--c-light);
  border: unset;
}
#notifications { right: 120px; }
.notification {
  padding: 0.4rem 1.5rem;
  background-color: var(--c-dark);
  color: var(--c-text-on-dark);
  border: 1px solid;
  border-radius: 15px;
  min-width: 100px;
  text-align: center;
  white-space: pre;
}
#achievement-container {
  padding: 1rem .5rem 2rem .5rem;
  min-width: 300px;
  min-height: 100px;
  background: #ffff28;
  color:black;
  border: 5px solid #ff0707;
  border-radius: 20px;
}
#achievements .body{ margin-top:1rem }
#achievements i { transform: scale(2) }
#achievements i:nth-of-type(1) {
  left: -13px;
  top: -10px;
}
#achievements i:nth-of-type(2) {
  right: -10px;
  top: -10px;
}
#achievements .click-anywhere { margin-top: 3.5rem; }
#dialogue-container {
  max-height: calc(100vh - 300px);
  color: var(--c-text-on-dark);
}
#conversation {
  overflow: auto;
  min-height: 100px;
}
#conversation .dialogue-body {
  background: white;
  color: black;
  border-radius: 0 5px 5px 5px;
  border: 3px solid white;
  width: fit-content;
  max-width: 75%;
  padding: 0.8rem 2rem;
  position: relative;
}
#conversation .dialogue-body::before {
  content: '';
  position: absolute;
  border-bottom: 1px solid;
  width: 16px;
  height: 10px;
  background-color: white;
}
#conversation .dialogue-player {
  align-self: end;
  border-radius: 5px 5px 0 5px;
}
#conversation .dialogue-player::before {
  right: -18px;
  bottom: -4px;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}
#conversation .dialogue-npc::before {
  left: -18px;
  top: -3px;
  clip-path: polygon(0 0,100% 0,100% 100%);
}
#dialogue .person-name, #dialogue .person-img {
  bottom: calc(100% + 1px);
  left:-1px;
  color: var(--c-text-on-dark);
}

/* images */
.person-orb { background-image: url("../images/persons/orb.jpg"); }
.person-orb {
  background-size: 130%;
  background-position: 50% 67%;
}
.person-img {
  width: 350px;
  height: 300px;
  position: absolute;
  border-radius:50px 50px 0 0;
}
.gender-selection {
  position: absolute;
  bottom: 100%;
  display: flex;
  width: 100%;
  left: -1px;
}
.gender-selection > div {
  height: 500px;
  width: 200px;
  flex: 1;
}
.gender-selection .boy {
  background-image: url("../images/persons/player_male.jpg");
  background-position: 62%;
  background-size: cover;
}
.gender-selection .girl { background-image: url("../images/persons/player_female.jpg"); }
.bg-wakeup-0 { background: #000 }
.bg-wakeup-1 { background: #1a0202 }
.bg-wakeup-2 { background: #492828 }
.white-border--not-hovered:not(:hover) { border-color: white; }
